<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chekrite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Chekrite"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".signIn.Test"
            android:label="@string/title_activity_test"
            android:theme="@style/NoActionBar"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".userLogin.UserLogin">

        </activity>
        <!--
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.login.SignIn"
            android:label="@string/title_activity_sign_in" />
        -->
        <!--
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity android:name=".Login" />
        -->
        <activity android:name=".userLogin.WelcomeSplash" />
        <activity android:name=".dashBoard.Dashboard">
</activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>